
.count-section{
    width: 100%;
    height: 200px;
    background-color: var(--primary-color);

}
.count-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.count-heading h1{
    height: 21px;
    width: 459px;
    font-weight: 700;
    color: #20254d;
    font-size: 1.8rem;
    text-align: center;
}

.count-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}

.count-labels{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 2.3rem;

}

.count-labels label{
    background-color: #20254d;
    height: 85px;
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--text-color);
    border-radius: 5px;
    margin:0 0rem;
    text-align: center;
    padding:0px 25px;
    box-sizing: border-box;
    width:97px;
    padding-top:15px;
}

.count-labels label span{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: -35px;
}


  @media (max-width:992px){
    .count-labels label{
      margin:0 1rem;
    }
  }
  @media (max-width:767px){
    .count-labels{
      flex-wrap: wrap;
    }
    .count-labels label{
      margin:0rem 0rem;
      width:97px;
    }
    
  }

  @media (max-width:478px){
    .count-section{
        height: 70vh;
      
    }
  }

  @media (max-width:224px){
    .count-section{
        height: 110vh;
      
    }
  }